@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgba(2, 124, 133, 0.856);
    font-family: 'Roboto Mono', monospace;
    color: white;
    z-index: 1;
}

body {
    height: 100vh;
    padding-top: 40px;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

.cell {
    border: solid 2px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

main {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

header {
    display: flex;
    justify-content: center;
}

#players-name-form {
    position: absolute;
    background-color: rgba(2, 124, 133, 0.856);
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

input {
    border: none;
    background-color: rgb(2, 108, 116);
    border-radius: 3px;
}

.player-name-input input {
    padding: 5px;
}

input:focus {
    outline: solid white 2px;
}

#submit {
    font-weight: 600;
    width: 100px;
    height: 25px;
    margin-top: 10px;
    border-radius: 20px;
}

#submit:hover {
    transition-duration: 250ms;
    background-color: rgb(1, 76, 82);
    cursor: pointer;
}

#win-alert {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    padding-top: 40vh;
    font-size: 5em;
}

#reset-button {
    z-index: 2;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: rgb(3, 102, 109);
    font-weight: 600;
    margin-top: 40px;
}

#reset-button:hover {
    transition-duration: 250ms;
    background-color: rgb(1, 76, 82);
    cursor: pointer;
}

p {
    font-weight: 600;
}

